#blog{
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}
.blog_text{
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    font-weight: bold;  
    line-height: 40px;  
    color: rgb(170, 124, 192);
    cursor: pointer;
}
.blog_text h1{
    font-size: 40px;
    letter-spacing: 8px;
    color: rgb(230, 230, 230);
    font-weight: 550;
}
.blog_an1{
    right: 400px;
    top: 50px;
}
.blog_an2{
    left: 300px;
    top: 91px;
}
.blog_an3{
    left: 127px;
    bottom:64px;
}
.blog_an4{
    right: 180px;
    bottom: 80px;
}