#gallery{
    position: relative;
    background-image: url('img/cos7.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.galery_container{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.gallery_text{
    width: 500px;
    height: 400px;
    margin-left: 120px;
    line-height: 22px;
}
.gallery_text p{
    margin: 15px auto;
    color: rgb(170, 124, 192);
}
.cosmo_shlem{
    position: relative;
    width: 500px;
    height: 400px;
    margin-right: 120px;
    text-align: right;
}
.cosmo_shlem h2{
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    top: 42%;
    right:120px;
    transform: translateY(-50%);
    width: 90px;
    line-height: 70px;
    text-align: right;
}
.cosmo_shlem::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('img/ramka001.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.cosmo_shlem::after{
    content: '';
    width: 280px;
    height: 280px;
    position: absolute;
    left: 0;
    bottom: -36px;
    background-image: url('img/shlem.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.galery_anim{
    position: absolute;
    right: -80px;
    top: 0;
    width: 200px;
    height: 200px;
    background-image: url('img/images1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(30deg);
}
.astro{
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 200px;
    height: 200px;
    background-image: url('img/astro.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 1049px){
.galery_container{
    justify-content: space-around;
       align-items: none;
   }
.gallery_text{
    width: 350px;
    height: 350px;
    margin-left: 0px;
    line-height: 20px;
}
.gallery_text p{
    margin: 10px auto;
    font-size: 14px;
}
.cosmo_shlem{
    width: 350px;
    height: 350px;
    margin-right: 0px;
}
.cosmo_shlem h2{
    font-size: 30px;
    top: 50%;
    right:21%;
    line-height: 55px;
}

.cosmo_shlem::after{
    width: 250px;
    height: 250px;
    left: -20px;
    bottom: -40px;
}
.galery_anim{
    width: 160px;
    height: 160px;
  
}
.astro{
    left: 35%;
    width: 180px;
    height: 180px;
}
}